<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wbdp.bee.dao.Wbl_SocialdataDAO" >
 
 
 <!-- 根据客户id获取社保账号,密码,城市 -->
 <select id="getSocialdataUserAndPass" resultType="Map">
SELECT
sa.SocialAccount,sa.SocialPassWord,bs.City
FROM
wbl_socialdata AS sa
LEFT JOIN wbl_beeaddress AS bs ON sa.BeeID = bs.BeeID
WHERE
bs.type = 0
AND 
sa.BeeID=#{beeid};
 </select>
 
<!-- 查询社保后更新信息 --> 
<update id="updateSocialdata">
UPDATE wbl_socialdata
SET 
Base = #{basedeposit,jdbcType=INTEGER},
Balance = #{bal,jdbcType=INTEGER},
Company = #{corpname,jdbcType=VARCHAR},
PayTime = #{number,jdbcType=INTEGER},
UpdateTime = #{nowtime,jdbcType=TIMESTAMP}
WHERE
BeeID = #{beeid,jdbcType=BIGINT}
</update> 
 <!--查询社保以及关联资料列表  -->
 <select id="listWblSocialdata" parameterType="java.lang.Integer" resultMap="socialdataMap">
 	SELECT Company,COUNT(DISTINCT Company) FROM wbl_socialdata GROUP BY Company limit #{pageNum},10;
 </select>
 <!--查询有多少条符合条件数据，用于分页  -->
 <select id="listCount" resultType="com.wbdp.bee.entity.Wbl_SocialdataEntity">
 	SELECT Company, COUNT(DISTINCT Company) FROM wbl_socialdata GROUP BY Company;
 </select>
 <!--关联查询resultMap-->
 <resultMap type="com.wbdp.bee.entity.Wbl_SocialdataEntity" id="socialdataMap">
 	 	<id column="ID" property="id"/>
        <result column="BeeID" property="beeid"/>
        <result column="Company" property="company"/>
        <association property="grade" column="Company" select="getGrade"/>
 </resultMap>
 
 <!--查询关联数据  -->
 <select id="getGrade" parameterType="java.lang.String" resultType="com.wbdp.bee.entity.Wbl_BeecompgradeEntity">
 	select ID,Grade from wbl_beecompgrade where Company = #{Company};
 </select>
 <!-- 数据库字段 -->
  <sql id="Base_Column_List" >
    ID, BeeID, SocialAccount, SocialPassWord, Base, Balance, Company, PayTime, SocialState, 
    CreatBy, CreatDate, UpdateBy, UpdateTime
  </sql>
</mapper>